#-----------------------------------------------------------------------------------------------------------------------
# INCLUDES
#-----------------------------------------------------------------------------------------------------------------------
include:
  - project: 'symfony-cms/general/misc/gitlab-ci-templates'
    ref: 1.x
    file:
      - '/.base.yml'
      - '/build/build-php-typo3.yml'
      - '/build/build-node-typo3.yml'
      - '/analyse/analyse-composer-lint.yml'
      - '/analyse/analyse-editorconfig.yml'
      - '/analyse/analyse-php-cs-fixer.yml'
      - '/analyse/analyse-php-lint.yml'
      - '/analyse/analyse-php-rector.yml'
      - '/analyse/analyse-php-stan.yml'
      - '/analyse/analyse-xml-lint.yml'
      - '/analyse/analyse-yaml-lint.yml'
      - '/deploy/deploy-feature.yml'
      - '/deploy/deploy-feature-rollback.yml'
      - '/deploy/deploy-feature-stop.yml'
      - '/deploy/deploy-feature-stop-downstream.yml'
      - '/deploy/deploy-prod.yml'
      - '/deploy/deploy-prod-rollback.yml'
      - '/sync/sync-feature.yml'
      - '/test/test-feature-codeception.yml'
      - '/test/test-feature-lighthouse.yml'
      - '/test/test-prod-lighthouse.yml'
      # these are scheduled jobs - see readme how to setup
      - '/sync/sync-feature-scheduled.yml'
      - '/analyse-composer-security-scheduled.yml'

#-----------------------------------------------------------------------------------------------------------------------
# CONFIGURATION
#-----------------------------------------------------------------------------------------------------------------------
variables:
  # App
  # PATH_CI_DIR: "${CI_PROJECT_DIR}/htdocs" override this if composer.json for build is not in the root directory
  # PATH_APP_DIR: "${PATH_CI_DIR}/app" override this if composer.json for project is not the root directory
  # Stage
  SSH_USER_STAGE: ""
  HOST_STAGE: ""
  APP_URL_STAGE: "https://${HOST_STAGE}/"
  SSH_HOST_STAGE: ""
  # Prod
  SSH_USER_PROD: ""
  HOST_PROD: ""
  APP_URL_PROD: "https://${HOST_PROD}/"
  SSH_HOST_PROD: ""


#-----------------------------------------------------------------------------------------------------------------------
# JOBS
#-----------------------------------------------------------------------------------------------------------------------
