#-----------------------------------------------------------------------------------------------------------------------
# INCLUDES
#-----------------------------------------------------------------------------------------------------------------------
include:
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/.base.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-php-typo3.yml'
  # - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-php-drupal.yml'
  # - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-php-symfony.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-node-typo3.yml'
  # - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-node-drupal.yml'
  # - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/build/build-node-symfony.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-composer-lint.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-editorconfig.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-php-cs-fixer.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-php-lint.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-php-rector.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-php-stan.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-xml-lint.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-yaml-lint.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-typoscript-lint.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-feature.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-feature-rollback.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-feature-stop.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-feature-stop-downstream.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-prod.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/deploy/deploy-prod-rollback.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/sync/sync-feature.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/test/test-feature-codeception.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/test/test-feature-lighthouse.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/test/test-prod-lighthouse.yml'
  # these are scheduled jobs - see readme how to setup
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/sync/sync-feature-scheduled.yml'
  - 'https://raw.githubusercontent.com/xima-media/xima-gitlab-ci-templates/2.x/analyse/analyse-composer-security-scheduled.yml'

#-----------------------------------------------------------------------------------------------------------------------
# CONFIGURATION
#-----------------------------------------------------------------------------------------------------------------------
variables:
  # App
  # PATH_CI_DIR: "${CI_PROJECT_DIR}/htdocs" override this if composer.json for build is not in the root directory
  # PATH_APP_DIR: "${PATH_CI_DIR}/app" override this if composer.json for project is not the root directory
  # Stage
  SSH_USER_STAGE: ""
  HOST_STAGE: ""
  APP_URL_STAGE: "https://${HOST_STAGE}/"
  SSH_HOST_STAGE: ""
  # Prod
  SSH_USER_PROD: ""
  HOST_PROD: ""
  APP_URL_PROD: "https://${HOST_PROD}/"
  SSH_HOST_PROD: ""


#-----------------------------------------------------------------------------------------------------------------------
# JOBS
#-----------------------------------------------------------------------------------------------------------------------
